.topnav {vertical-align: top;
    text-align: right;
    color: #ffffff;
    width: auto;
    height: 30px;
    margin: 15px;
    padding: 1.2%;
    background-color: #004D4E;
    font-size: 22px;
    float: right;
    align-content: center;
    justify-content: center;}
    
    .header {height: 60px;
            width: 50px;}
    
    .topnav a {
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        background-color: #C5E870;
        height: relative;
        width: 0 auto;
      }
    
    .topnav a:hover {
        background-color: #E53D14;
        color: #ffffff;
        height: 30px;
      }
    
    .logo {
        height: 150px;
        width: 150px;
}
    
      
    .parentContainer {
        display: flex;
        margin: 10px;
        color: white;
        opacity: 0.85;
        background-color: #E53D14;
        justify-content: flex-start;}
    
    .flexChild {
        
        padding:10px;
        margin: 10px;
        height: 200px;
        
    }
    
    .about {
        margin-top:20px;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../images/portfolio.jpg");
        height: 500px;
        width: 0 auto;
         }
    
    .column, .about, .parentContainer, .flexChild { 
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    
    }
    
      .column {
        display: flex;
        height: 500px;
        width: 800px;
        flex-direction: column;
        margin: 0 auto;
    }
    
    
    .heroImg {
        position: center;
        width: 100%;
        height: 600px;
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;}
    
    
    .button {
        align-items: center;
        justify-content: center;
        background-color: #004D4E;
        height: 30px;
        width: 170px;
        color: #ffffff;
        font-size: 16px;
        margin-bottom: 20px;
        margin: auto;
        padding: auto;
    }

    .flexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #676464;
        opacity: 0.75;
        width: 1200px;
        height: 500px;
        margin: auto;
        border-radius: 15%;

    }

    .uxuiFlexchild {
        width: 33%;
        justify-content:  center;
        align-items: center;
        background-color: #C5E870;
        text-align: center;
        opacity: 0.75;
        height: 360px;
        border-radius: 50%;
        margin: 20px;
    }

    .photographyFlexchild {
        width: 33%;
        justify-content:  center;
        align-items: center;
        background-color:#ffffff;
        text-align: center;
        opacity: 0.75;
        height: 360px;
        border-radius: 50%;
        margin: 20px;
       
    }

    .designFlexchild {
        width: 33%;
        justify-content:  center;
        align-items: center;
        background-color:#C5E870;
        text-align: center;
        opacity: 0.75;
        height: 360px;
        border-radius: 50%;
        margin: 20px;
       
    }

    #myworkGrid {
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 150px 150px 1500px;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: 
        "lifelineProject pantryProject kidzmappzProject";
  
      }

    #lifelineProject {
        grid-area: lifelineProject;
        background-image: url("../images/Lifeline.png");
        width: 380px;
        height: 250px;
    }


    #pantryProject {
        grid-area: pantryProject;
        background-image: url("../images/pantry.png");
        width: 380px;
        height: 250px;
    }



    #kidzmappzProject {
        grid-area: kidzmappzProject;
        background-image: url("../images/Kidzmappz.png");
        width: 380px;
        height: 250px;    }


    .workGrid {
        display: grid;
    }
    
    footer {
        background-color: #C5E870;
        padding-inline-end: 20px;
        vertical-align: bottom;
        text-align: right;
        color: #ffffff;
        width: auto;
        height: 30px;
        padding: 1%;
        font-size: 20px;
        position: center;}
    
    footer a {
        color: #ffffff;}
    
    .background-image {width: 100%;
        height: 100%;
        position: relative;
        background-position: fixed;
    }
    
    html {background-image: url("../images/IMG_0532.PNG");
        background-attachment: fixed;
    }

    @media only screen and (max-width: 600px) {
        

        #myworkGrid {
            margin: 0px 5%;
            display: grid;
            grid-template-rows: 150px 150px 150px;
            grid-template-columns: 33% 33% 33%;
            grid-template-areas:
            "lifelineProject" 
            "pantryProject" 
            "kidzmappzProject"
          }
    
          .flexContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: #676464;
            opacity: 0.75;
            width: auto;
            height: auto;
            margin: auto;
            border-radius: 15%;}

            .uxuiFlexchild {
                width: 100%;
                justify-content:  center;
                align-items: center;
                background-color: #C5E870;
                text-align: center;
                opacity: 0.75;
                height: auto;
                border-radius: 60%;
            }
        
            .photographyFlexchild {
                width: 100%;
                justify-content:  center;
                align-items: center;
                background-color:#ffffff;
                text-align: center;
                opacity: 0.75;
                height: auto;
                border-radius: 60%;
            }
        
            .designFlexchild {
                width: 100%;
                justify-content:  center;
                align-items: center;
                background-color:#C5E870;
                text-align: center;
                opacity: 0.75;
                height: auto;
                border-radius: 60%;
            }

        }